<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=MWNOOSLWC8LT167;Initial Catalog=dbEPi;Integrated Security=False;User ID=dbEPi;Password=e6qfGh21#!we;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--add name="LocalSqlServer" connectionString="Data Source=MWNOOSLWC8LT167;Initial Catalog=dbEPiServer8Site;Integrated Security=False;User ID=dbUserEPiServer8Site;Password=assdYYuasd321487U;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /-->
</connectionStrings>