@inherits EPi.Models.ViewModels.WebViewPage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@LayoutModel.Service.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
